CraigSpencerImageViewer/build
CraigSpencerImageViewer/dist
CraigSpencerImageViewer/nbproject/private
CraigSpencerVideoViewer/build
CraigSpencerVideoViewer/dist
CraigSpencerVideoViewer/nbproject/private
/AdvancedMedia/nbproject/private/
/AdvancedMedia/dist/
/AdvancedMedia/build/